* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  /* background-image: linear-gradient(to right top, #c4fcef, #a2f0dd, #7ee3cc, #54d6b9, #00c9a7); */
}

i:hover {
  cursor: pointer;
  transform: scale(.95);
}

.coral i:hover{
  color: coral;
}

.aquamarine i:hover{
  color: mediumaquamarine;
}
